<div class="container py-3">
  <div id="websiteCard" class="card mb-3">
   <div class="row g-0">
    <div class="col-md-1">
      <img class="img-fluid mx-2 my-2 rounded-start" width="128" style="max-height: 100em;max-width: 128px;" src="{{websiteData.url}}/favicon.ico" alt="Website favicon"> <!-- Website favicon was supposed to go here but the free VT API doesn't have that option -->
    </div>
    <div class="col-md-9 mx-5">
      <div class="card-body">
        <h2 class="card-title">{{websiteData.title}}</h2>
        <hr>
        <a class="card-text" href="{{websiteData.url}}" >URL: {{websiteData.url}}</a>
        <br>
        <p class="card-text">Reputation rating: {{websiteData.reputation}}</p>
        <!--
      <button class="btn btn-primary" (click)="deleteFromFavourites(websiteData.id)" type="submit">Add to favourites</button>
      -->
      </div>
    </div>
  </div>
</div>
</div>