/* You can add global styles to this file, and also import other style files */
body{
    background-color: #181A1B;
}

.card{
    background-color: #1E1E1E;
}

h1,h2,h3,h4,h5,p,a{
    color: white;
}

#pageTitle{
    text-align: center;
}

#websiteCard{
    width: 70em;
    margin-left: auto;
    margin-right: auto;
}

#scanBTN{
    margin-left: 45%;
    margin-right: 45%;
}